#override("title")
SpringWind 管理系统 SSM 框架
#end
#override("breadcrumb")
<li class="active"><strong>介绍说明</strong></li>
#end
#override("content")
<div class="middle-box text-center lockscreen animated fadeInDown">
	<div>
<div class="row">
	<!--<img alt="spring-wind" src="#springUrl('/static/img/a1.jpg')">-->

	<div class="m-b-md">
		<img alt="image" class="img-circle circle-border" src="#springUrl('/static/img/a1.jpg')">
	</div>
</div>
<div class="row">
	<br>《春风》<br> 春风如贵客，一到便繁华。<br> 来扫千山雪，归留万国花。<br>
	<br><br><br>
</div>
		</div></div>
#end
#extends("/common/framework.html")
